
# System containers will require mount points for the following
mkdir -p /dev
mkdir -p /proc
mkdir -p /sys/fs/cgroup

# In order for the package manager to function /dev/null must exist. This is
# is being run here because some images do not create /dev/null by default.
if [[ ! -e /dev/null ]]; then
  mknod /dev/null c 1 3
  chmod 0666 /dev/null
fi

# Create the directory where local facts will be stored
mkdir -p /etc/ansible/facts.d

# Create the cache resolvers
rm /etc/resolv.conf || true
{% for resolver in lxc_cache_prep_dns %}
echo "nameserver {{ resolver }}" >> /etc/resolv.conf
{% endfor %}
