# {{ ansible_managed }}

DEVICE={{ lxc_net_bridge }}
BRIDGE='yes'
IPADDR={{ lxc_net_address }}
NETMASK={{ lxc_net_netmask }}
{% if lxc_net_gateway is not none %}
GATEWAY={{ lxc_net_gateway }}
{% endif %}
{% if lxc_net_mtu is defined %}
MTU={{ lxc_net_mtu }}
{% endif %}
BOOTPROTO=static
BRIDGE_STP='on'
# POST_UP script
POST_UP_SCRIPT="compat:suse:ifup-post-{{ lxc_net_bridge }}"
# POST_DOWN script
POST_DOWN_SCRIPT="compat:suse:ifdown-post-{{ lxc_net_bridge }}"
