# {{ ansible_managed }}

BRIDGE='yes'
IPADDR={{ lxc_net_address }}
NETMASK={{ lxc_net_netmask }}
BOOTPROTO=static
STARTMODE=auto
BRIDGE_STP='off'
# POST_UP script
POST_UP_SCRIPT="compat:suse:ifup-post-{{ lxc_net_bridge }}"
# POST_DOWN script
POST_DOWN_SCRIPT="compat:suse:ifdown-post-{{ lxc_net_bridge }}"
