# {{ ansible_managed }}

lxc.start.auto = 1
lxc.start.delay = 15
lxc.group = onboot
lxc.group = openstack

# Default LXC network
{% set network_part = (lxc_three_syntax | bool) | ternary('net.0', 'network') %}
lxc.{{ network_part }}.type = {{ lxc_container_net_type }}
lxc.{{ network_part }}.name = {{ lxc_container_net_name }}
lxc.{{ network_part }}.link = {{ lxc_container_net_link }}
lxc.{{ network_part }}.flags = up
{% if lxc_net_mtu is defined %}
lxc.{{ network_part }}.mtu = {{ lxc_net_mtu }}
{% endif %}
lxc.{{ network_part }}.hwaddr = 00:16:3e:xx:xx:xx
